/* global styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
    --unit: 30px;
    --border: 2px;
    --width: 12;
    --height: 25;
    --gray: #555;
}

body {
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

/* info */

#info {
    position: fixed;
    top: 5px;
    left: 5px;
}

#info ul {
    padding: 0;
    list-style-type: none;
}

#info li {
    margin: 2px 0px;
}

#infoButton {
    opacity: 0.7;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--gray);
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

#infoButton:hover {
    opacity: 1;
}

#keyInfos {
    display: none;
}

.keySymbol {
    text-align: center;
    display: inline-block;
    width: 50px;
}

/* game */

#game {
    transform: translateX(calc(2 * var(--unit)));
    width: calc(var(--unit) * var(--width));
    overflow: hidden;
    width: calc(var(--unit) * var(--width));
    height: calc(var(--unit) * var(--height));
    border: 1px solid var(--gray);
    position: relative;
}

/* general square */

.square {
    position: absolute;
    box-sizing: border-box;
    width: var(--unit);
    height: var(--unit);
}

/* square O */

.square-O {
    background-color: skyblue;
    border: var(--border) solid rgb(54, 113, 136);
}

/* square I */

.square-I {
    background-color: rgb(233, 52, 36);
    border: var(--border) solid rgb(149, 8, 8);
}

/* square T  */

.square-T {
    background-color: rgb(26, 161, 26);
    border: var(--border) solid rgb(11, 98, 11);
}

/* square L */

.square-L {
    background-color: rgb(43, 43, 204);
    border: var(--border) solid rgb(27, 27, 133);
}

/* square J */

.square-J {
    background-color: rgb(118, 43, 204);
    border: var(--border) solid rgb(62, 16, 116);
}

/* square Z */

.square-Z {
    background-color: rgb(255, 166, 0);
    border: var(--border) solid rgb(202, 133, 4);
}

/* square S */

.square-S {
    background-color: rgb(255, 217, 0);
    border: var(--border) solid rgb(195, 167, 5);
}

/* next piece section */

#nextPiece {
    transform: translateX(calc(2 * var(--unit)));
    margin-left: var(--unit);
    width: calc(3 * var(--unit));
    position: relative;
}
