/* global styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
    --unit: 30px;
    --border: 6px;
    --width: 12;
    --height: 25;
}

body {
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    background-color: black;
    color: white;
}

/* sections */

header {
    text-align: center;
}

main {
    width: calc(var(--unit) * var(--width));
    margin: 0 auto;
}

#info {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* info */

#info ul {
    padding: 0;
    list-style-type: none;
}

#info li {
    margin: 2px 0px;
}

#infoButton {
    opacity: 0.7;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #444;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

#infoButton:hover {
    opacity: 1;
}

#keyInfos {
    display: none;
}

.keySymbol {
    text-align: center;
    display: inline-block;
    width: 50px;
}

/* game */

#game {
    width: calc(var(--unit) * var(--width));
    height: calc(var(--unit) * var(--height));
    border: 1px solid #555;
    position: relative;
}

/* pieces general */

.piece {
    transition: transform 100ms linear;
}

.piece,
.piece::after,
.piece::before {
    position: absolute;
    box-sizing: border-box;
}

.piece::after,
.piece::before {
    content: "";
    background-color: inherit;
}

/* piece O */

.piece-O {
    background-color: skyblue;
    border: var(--border) solid rgb(54, 113, 136);
    width: calc(2 * var(--unit));
    height: calc(2 * var(--unit));
}

/* piece I */

.piece-I {
    background-color: rgb(233, 52, 36);
    border: var(--border) solid rgb(149, 8, 8);
    width: calc(1 * var(--unit));
    height: calc(4 * var(--unit));
    transform-origin: var(--unit) calc(2 * var(--unit));
}

/* piece T  */

.piece-T {
    background-color: rgb(26, 161, 26);
    border: var(--border) solid rgb(11, 98, 11);
    width: calc(3 * var(--unit));
    height: calc(1 * var(--unit));
}

.piece-T::after {
    border-top: none;
    border-left: inherit;
    border-bottom: inherit;
    border-right: inherit;
    top: calc(var(--unit) - 2 * var(--border));
    left: calc(-1 * var(--border) + var(--unit));
    height: calc(1 * var(--unit) + var(--border));
    width: calc(1 * var(--unit));
}

/* piece L */

.piece-L {
    background-color: rgb(43, 43, 204);
    border: var(--border) solid rgb(27, 27, 133);
    width: calc(1 * var(--unit));
    height: calc(3 * var(--unit));
}

.piece-L::after {
    border-left: none;
    border-top: inherit;
    border-bottom: inherit;
    border-right: inherit;
    height: calc(1 * var(--unit));
    width: calc(1 * var(--unit) + var(--border));
    left: calc(var(--unit) - 2 * var(--border));
    top: calc(2 * var(--unit) - var(--border));
}

/* piece J */

.piece-J {
    background-color: rgb(118, 43, 204);
    border: var(--border) solid rgb(62, 16, 116);
    width: calc(1 * var(--unit));
    height: calc(3 * var(--unit));
    transform: translateX(var(--unit));
}

.piece-J::after {
    border-right: none;
    border-top: inherit;
    border-bottom: inherit;
    border-left: inherit;
    height: calc(1 * var(--unit));
    width: calc(1 * var(--unit) + var(--border));
    left: calc(-1 * var(--unit) - 1 * var(--border));
    top: calc(2 * var(--unit) - var(--border));
}

/* piece Z */

.piece-Z {
    background-color: rgb(255, 166, 0);
    border: var(--border) solid rgb(202, 133, 4);
    width: calc(2 * var(--unit));
    height: calc(1 * var(--unit));
    transform-origin: var(--unit) var(--unit);
}

.piece-Z::before {
    border: inherit;
    width: calc(2 * var(--unit));
    height: calc(1 * var(--unit));
    top: calc(var(--unit) - 1 * var(--border));
    left: calc(var(--unit) - 1 * var(--border));
}

.piece-Z::after {
    border: none;
    width: calc(1 * var(--unit) - 2 * var(--border));
    height: calc(2 * var(--unit) - 2 * var(--border));
    left: calc(var(--unit));
}

/* piece S */

.piece-S {
    background-color: rgb(255, 217, 0);
    border: var(--border) solid rgb(195, 167, 5);
    width: calc(2 * var(--unit));
    height: calc(1 * var(--unit));
    transform-origin: var(--unit) var(--unit);
    transform: translateX(var(--unit));
}

.piece-S::before {
    border: inherit;
    width: calc(2 * var(--unit));
    height: calc(1 * var(--unit));
    top: calc(var(--unit) - 1 * var(--border));
    left: calc(-1 * var(--unit) - 1 * var(--border));
}

.piece-S::after {
    border: none;
    width: calc(1 * var(--unit) - 2 * var(--border));
    height: calc(2 * var(--unit) - 2 * var(--border));
    left: calc(- 1 * var(--unit));
}
